@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;900&family=Lato:wght@300;400;700&family=Roboto:wght@400;700;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #2b2d42;
  color: #fbfff1;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

.container {
  padding: 80px 0;
}

.row {
  width: 100%;
  max-width: 1280px;
  padding: 0 24px;
  margin: 0 auto;
}

.orange {
  color: #ff8811;
}

/*

Navigation Bar

*/
.nav__container {
  padding: 0 24px;
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav {
  height: 80px;
  display: flex;
  justify-content: space-between;
  background-color: #2b2d42;
}

.nav__logo {
  color: #fff;
  font-size: 32px;
  transition: all 300ms ease;
}

.nav__links {
  display: flex;
}

.nav__link {
  margin-left: 24px;
  font-size: 24px;
  color: #fff;
  transition: all 500ms ease;
}

.nav__link:hover {
  color: #ff8811;
}

.btn__menu {
  background-color: transparent;
  border: none;
  font-size: 40px;
  text-align: center;
  color: #ff8811;
  display: none;
}

.menu__backdrop {
  position: absolute;
  background-color: #7c90a0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 300ms ease;
  opacity: 0;
  visibility: hidden;
}

.menu--open .menu__backdrop {
  display: flex;
  visibility: visible;
  opacity: 1;
}

.menu--open {
  max-height: 100vh;
  overflow-y: hidden;
}

.menu__links {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu__list {
  padding: 32px 0;
}

.menu__link {
  color: white;
  font-size: 40px;
  transition: all 500ms ease;
}

.menu__link:hover {
  color: #ff8811;
}

.btn__menu--close {
  position: absolute;
  right: 20px;
  top: 10px;
  padding: 8px;
  color: white;
}

.no-cursor {
  cursor: not-allowed;
}

/*


Header


*/

.header__container {
  padding: 32px 0;
}

.header__description {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fbfff1;
}

.header__title {
  font-size: 48px;
  transition: all 300ms ease;
  text-align: center;
}

.header__para {
  font-size: 24px;
  margin: 32px 0;
  max-width: 700px;
  text-align: center;
}

.search__bar {
  width: 300px;
  text-align: left;
  margin-top: 24px;
  position: relative;
}

.header__description.search-performed .search__bar {
  display: none;
}

#search__input {
  padding: 20px 20px;
  border-radius: 9999px;
  font-weight: 900;
  text-align: left;
  width: 100%;
  font-size: 16px;
  letter-spacing: 1px;
  transition: all 300ms ease;
  border: none;
  outline: none;
}

#search__input:hover {
  opacity: 0.9;
  border: none;
}

#search__input:active {
  border: none;
}

.search__button {
  position: absolute;
  right: 20px;
  top: 20px;
  font-size: 20px;
  cursor: pointer;
  transition: all 300ms ease;
  color: black;
}

.search__button:hover {
  transform: scale(1.2);
}

/*

RECENT

*/
#recent {
  display: flex;
  flex-direction: column;
}

.header__description.search-performed #recent {
  display: flex;
}

.recent__title {
  text-align: center;
}

.movies {
  margin-top: 42px;
  padding: 0 24px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.recent__movies {
  margin-top: 42px;
  padding: 0 24px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.remove--recent .recent__movies {
  display: none;
}

.movie__img {
  transition: all 300ms ease;
  height: 420px;
  width: 250px;
}

.movie__img:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.movie__title {
  margin-top: 12px;
  margin-left: 4px;
  font-size: 20px;
  width: 200px;
}

.movie {
  transition: all 300ms ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  margin-left: 30px;
}

.movie:hover {
  color: #ff8811;
}

/*

MAIN

*/

.movie__main {
  width: 25%;
}

.search__filters {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
}

.search__bar--main {
  width: 300px;
  text-align: center;
  margin-top: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-top: 0;
}

#filter {
  text-align: left;
  border-radius: 5px;
  width: 100%;
  max-width: 200px;
  height: 40px;
  padding: 0 16px;
  outline: none;
  opacity: 0;
  visibility: hidden;
}

.display--filter #filter {
  opacity: 1;
  visibility: visible;
}

.movies__loading {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 60px;
  font-size: 60px;
}

.movies__loading--spinner {
  display: none !important;
}
.movies__loading .movies__loading--spinner {
  display: block !important;
}
.fa-spinner {
  animation: rotate 600ms infinite linear;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 1100px) {
  .header__title {
    font-size: 34px;
  }
  .header__para {
    font-size: 20px;
    text-align: center;
    width: 700px;
  }
}

@media (max-width: 768px) {
  .header__title {
    font-size: 30px;
    text-align: center;
  }

  .header__para {
    font-size: 20px;
    text-align: center;
    width: 500px;
  }
  .nav__link {
    font-size: 16px;
  }
  .nav__logo {
    font-size: 24px;
  }
}

@media (max-width: 480px) {
  .header__title {
    text-align: center;
  }

  .header__para {
    font-size: 20px;
    text-align: center;
    max-width: 300px;
  }

  .nav__links {
    display: none;
  }
  .btn__menu {
    display: block;
  }
}
